<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--    Constructor injection with primitive and String values -->
    <bean id="studentOne" class="dasturlash.uz.Student">
        <constructor-arg name="name" value="Alish"/>
        <constructor-arg name="surname" value="Aliyev"/>
        <constructor-arg name="age" value="22"/>
        <constructor-arg name="nickName" value="dasturlashUz"/>
    </bean>
</beans>